---
import Layout from '../layouts/Layout.astro';

const selectedWorks = [
  { title: 'JP Startups', slug: 'jp-startup' },
  { title: 'HP Music School', slug: 'hpmusic-school' },
  { title: 'Denkikogyo', slug: 'dkk' },
  { title: 'FDM', slug: 'fdm' },
  { title: 'Mijikana', slug: 'mijikana' },
  { title: 'Next Stage', slug: 'nextstage' },
  {
    title: 'MKTG Sports + Entertainment',
    slug: 'mktgse',
  },
  { title: 'KTRZ Monokai', slug: 'ktrz-monokai' },
  { title: 'Dentsu Sports International', slug: 'dentsusports' },
  { title: 'KTRZ FONT', slug: 'ktrz-font' },
  {
    title: 'KATSURAGAWA LADIES’ CLINIC',
    slug: 'katsuragawa',
  },
  { title: 'Kitahama Partners', slug: 'kitahama' },
  { title: 'LOK', slug: 'lok' },
  {
    title: 'FRANCFRANC BRAND IDENTITY GUIDELINES',
    slug: 'francfranc',
  },
  { title: 'QUATRO PHOTO DESIGN', slug: 'quatro-photodesign' },
];
---

<Layout title="Kite">
  <div
    class="fixed bottom-[calc(max(4vw,3rem)*2)] -z-10 grid h-[calc(max(4vw,3rem)*4)] place-items-center overflow-hidden"
  >
    <figure class="h-px scale-y-[500] overflow-hidden">
      <div
        class="animate-[stretch-animation_var(--duration,150s)_linear_infinite]"
        style={`--duration: ${selectedWorks.length * 10}s;`}
      >
        {
          selectedWorks.map(({ slug }) => {
            return <img src={`/images/works/${slug}.jpg`} />;
          })
        }
      </div>
    </figure>
  </div>
  <main
    class="grid gap-4 pt-[max((100vh-max(4vw,3rem)*8.5-2rem),16rem)] text-white mix-blend-difference"
  >
    <div class="fixed grid w-full grid-cols-3 mix-blend-difference">
      <p class="col-start-3">Scroll</p>
    </div>
    <h2 class="ml-4">Selected Works</h2>
    <ul
      class="overflow-hidden whitespace-nowrap text-[max(4vw,3rem)] font-normal leading-none"
    >
      {
        selectedWorks.map(({ title, slug }, i, { length }) => {
          return (
            <li class="overflow-x-auto scrollbar-none">
              <a
                href={`/works/${slug}/`}
                class="flex w-fit gap-4 overflow-hidden px-4"
              >
                <h3>{title}</h3>
                <p class="text-base font-medium">
                  {i + 1}/{length}
                </p>
              </a>
            </li>
          );
        })
      }
    </ul>
    <div class="flex min-h-screen items-end px-4 py-16">
      <a class="text-[max(10vw,4rem)] font-normal leading-none" href="/contact/"
        >Have A Plan? Let’s make it happen!</a
      >
    </div>
  </main>
</Layout>
