---
---

<header
  class="fixed grid grid-cols-3 gap-4 p-4 text-white mix-blend-difference"
>
  <h1 class="text-[2rem] font-medium leading-none">
    <a href="/">Kite</a>
  </h1>
  <p class="sr-only">I Design, Develop and create crazy Things.</p>
  <nav class="col-start-3">
    <button class="grid gap-4 text-left uppercase">
      <span>Menu</span>
      <span aria-hidden="true">I Design, Develop and create crazy Things.</span>
    </button>
  </nav>
</header>
